<header>
    <nav class="navbar">
        <div class="header-container">
            <div class="logo"><a href='#'>MyFace</a></div>
            <div class="icon menu-btn">
                <i class="fa-solid fa-bars"></i>
            </div>
            <ul class="navlist">
                <div  class="icon cancel-btn">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <li><a href="#">Home</a></li>
                <li><a href="/posts">Posts</a></li>
                <li><a href="/users">Users</a></li>
                <li><a href="/posts/create">+ New Post</a></li>
            </ul>
        </div>
    </nav>
</header>